.moviesection {
  .movie-herosection {
    width: 100vw;
    object-fit: cover;
    height: 50vh;
  }
  .detail-section {
    position: relative;
    .poster-image {
      position: absolute;
      top: -110px;
      width: 250px;
      height: auto;
      border-radius: 40px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
  }
  .information-section {
    margin-left: 30%;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .active {
      background-color: red;
    }
    .inactive {
      background-color: #2ce676;
    }
  }
  .summary {
    color: #fff;
  }
  .movie-stats {
    color: #2ce676;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .trailer-btn {
    color: #2ce676;
  }
}

@media only screen and (max-width: 768px) {
  .moviesection {
    .movie-herosection {
      display: none;
    }
    .detail-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .poster-image {
        position: relative;
        top: 0;
      }
      .information-section {
        margin: 0 10%;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .moviesection {
    .movie-stats {
      font-size: 15px;
      flex-direction: column;
      align-items: normal;
    }
  }
}
