@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400&family=Roboto+Condensed:wght@900&display=swap");

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  color: #2ce676;
}

.shimmer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .shimmer-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    height: 350px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
  }
}
