.secondary-container {
  .subheading {
    color: #2ce676;
    font-size: 40px;
    text-decoration: underline;
    position: absolute;
    bottom: 10px;
  }
  .moviecardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1025px) {
  .secondary-container {
    .subheading {
      position: relative;
    }
  }
}
@media only screen and (max-width: 768px) {
  .secondary-container {
    text-align: center;
  }
}
